#container{
    background-color: transparent;
    font-family: monospace;
    overflow: unset;
}

#Home-container{
    text-align: center;
    margin: 0px;
    background-color: transparent;
    height: auto;
}

#img_1{
    position: relative;
    margin-top: 50px;
    border: solid 10px black;
    width: 400px;
    background-color: transparent;
    
}


#content-1-home-container{
    position:absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin: -500px 30px auto 30px;
    font-style: italic;
    background-color: beige;
    border: solid 5px black;
    border-radius: 30px;
}

#content-2-home-container{
    position:relative;
    margin: 0px 0px auto 65%;

}

#content-2-home-container h1{
    position:absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin: -500px 30px auto 0px;
    padding:10px;
    font-style: italic;
    background-color: beige;
    border: solid 5px black;
    border-radius: 30px;
}



#content-2-home-container p{
    position:absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin: -300px 30px auto 0px;
    padding: 20px;
    font-style: italic;
    background-color: beige;
    border: solid 5px black;
    border-radius: 30px;
}

/*------------------- cloud ----------------*/



/*---------------------- responsive page -------------------*/

@media only screen and (max-width:1850px) {
    #content-2-home-container h1{
        width: 500px;
    }
}

@media only screen and (max-width:1580px) {
    #content-2-home-container h1{
        width: 300px;
    }

    #content-2-home-container p{
        width: 300px;
    }
}

@media only screen and (max-width:1530px) {
    #content-1-home-container{
        width: 100px;
    }
    #content-2-home-container h1{
        width: 300px;
    }

    #content-2-home-container p{
        width: 300px;
    }
}

@media only screen and (max-width:1540px) {
    #content-1-home-container{
        width: 300px;
    }
}

@media only screen and (max-width:1130px) {
    #content-1-home-container{
        width: 200px;
    }
}

@media only screen and (max-width:980px) {
    
    #content-1-home-container{
        display: flex;
        position: absolute;
        border-radius: 10px;
        width: 50%;
        z-index: 3;
        font-size: 10px;
        margin-top: -150px;
    }
}

@media only screen and (max-width:1020px) {
    #content-2-home-container {
        top:150px;
        margin: 0px 0px auto 60%;
    }

    #content-2-home-container p{
        display: none;
    }
    
}

@media only screen and (max-width:900px) {
    #img_1{
        width: 250px;
    }

    #content-1-home-container{
        width: 300px;
        margin-top: -150px;
    }

    #content-2-home-container {
        position:relative;
        top:390px;
        margin: 0px 0px auto 50%;
    }

    #content-2-home-container h1{
        width: 300px;
        font-size: 20px;
        border-radius: 10px;
    }

    #content-2-home-container p{
        display: none;
    }
}

@media only screen and (max-width:750px) {
    #content-2-home-container {
        position:relative;
        top:415px;
        margin: 0px 0px auto 4%;
    }

    #content-2-home-container h1{
        font-size: small;
    }
}